In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [24]:
df = pd.read_csv('ecom.csv')
df.head()

,Product ID,Cost of Production ($),Competition Level (1-5),Target Audience,Market Conditions,Desired Profit Margin (%),Actual Price ($)
0,1,12700,4,Teenagers,Stable,23,15504.0
1,2,8600,2,Professionals,Growing,27,10922.0
2,3,15400,3,Seniors,Competitive,20,17640.0
3,4,9800,4,Young Adults,Stable,25,12040.0
4,5,18700,5,Millennials,Declining,18,13608.6

In [25]:
label_encoder = LabelEncoder()
df['target_audience_encoded'] = label_encoder.fit_transform(df['Target Audience'])
df['market_conditions_encoded'] = label_encoder.fit_transform(df['Market Conditions'])
df.head()

,Product ID,Cost of Production ($),Competition Level (1-5),Target Audience,Market Conditions,Desired Profit Margin (%),Actual Price ($),target_audience_encoded,market_conditions_encoded
0,1,12700,4,Teenagers,Stable,23,15504.0,4,3
1,2,8600,2,Professionals,Growing,27,10922.0,2,2
2,3,15400,3,Seniors,Competitive,20,17640.0,3,0
3,4,9800,4,Young Adults,Stable,25,12040.0,5,3
4,5,18700,5,Millennials,Declining,18,13608.6,1,1

In [30]:
col = ['Cost of Production ($)', 'Competition Level (1-5)', 'Desired Profit Margin (%)', 'target_audience_encoded', 'market_conditions_encoded']
X = df[col]
Y = df['Actual Price ($)']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [31]:
X_train

,Cost of Production ($),Competition Level (1-5),Desired Profit Margin (%),target_audience_encoded,market_conditions_encoded
3,9800,4,25,5,3
18,14700,5,22,2,3
202,15100,5,26,0,2
250,14800,5,25,0,2
274,15100,5,26,0,2
...,...,...,...,...,...
71,11500,5,20,3,0
106,15100,5,27,0,2
270,18600,3,26,2,2
348,17300,3,30,2,0
102,16200,3,23,2,2

In [32]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [33]:
features = {
    'Cost of Production ($)': 9800,
    'Competition Level (1-5)': 2,	
    'Desired Profit Margin (%)': 4,	
    'target_audience_encoded': 2,
    'market_conditions_encoded':2
}

f_df = pd.DataFrame([features])
pre_price = model.predict(f_df)